---
layout: default
title: Categories
---

<div id="archives">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
    <div id="{{ category.first }}">
        <h3 class="post-list-heading">{{ category.first | capitalize }}</h3>
        <ul>
            {% for post in category.last %}
            <li>
                <a href="{{ post.url }}" class="page-link">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
